* {
	transition:
		background 0.25s ease,
		color 0.25s ease;
}

::selection {
    background: var(--md-sys-color-inverse-on-surface-dark);
    color: var(--md-sys-color-inverse-surface-dark);
}

::-webkit-scrollbar-thumb {
    border-radius: 32px;
    background-color: #e9ddff;
    background-color: var(--md-sys-color-inverse-surface-dark);
}

::-webkit-scrollbar {
    background: #23005c;
    background: var(--md-sys-color-inverse-on-surface-dark);
}

body {
	font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	background-color: var(--md-sys-color-background);
}

.material-color-bg--primary {
	color: var(--md-sys-color-primary);
}
.material-color-on--secondary {
	color: var(--md-sys-color-on-secondary-container);
}

.material-background--primary-container {
	background-color: var(--md-sys-color-primary-container);
}
.material-background--secondary-container {
	background-color: var(--md-sys-color-secondary-container);
}
.material-background--tertiary-container {
	background-color: var(--md-sys-color-tertiary-container);
}
.material-background--primary {
	background-color: var(--md-sys-color-primary);
}
.material-background--secondary {
	background-color: var(--md-sys-color-secondary);
}
.material-background--tertiary {
	background-color: var(--md-sys-color-tertiary);
}

.material-border-radius {
	border-radius: 2rem;
}
.material-container {
	border-radius: 2rem;
	padding: 1.5rem 1.3rem;
}
.material-colored--primary {
	color: var(--md-sys-color-on-primary);
	background-color: var(--md-sys-color-primary) !important;
}
.material-container--primary {
	color: var(--md-sys-color-on-primary-container);
	background-color: var(--md-sys-color-primary-container);
}
.material-inverted--primary {
	color: var(--md-sys-color-primary-container);
	background-color: var(--md-sys-color-on-primary-container);
}

.material-colored--secondary {
	color: var(--md-sys-color-on-secondary);
	background-color: var(--md-sys-color-secondary) !important;
}
.material-basic--secondary {
	color: var(--md-sys-color-secondary);
	background-color: var(--md-sys-color-on-secondary) !important;
}
.material-basic--secondary:hover {
	color: var(--md-sys-color-on-secondary);
	background-color: var(--md-sys-color-secondary) !important;
}
.material-container--secondary {
	color: var(--md-sys-color-on-secondary-container);
	background-color: var(--md-sys-color-secondary-container);
}
.material-inverted--secondary {
	color: var(--md-sys-color-secondary-container);
	background-color: var(--md-sys-color-on-secondary-container);
}

.material-colored--tertiary {
	color: var(--md-sys-color-on-tertiary);
	background-color: var(--md-sys-color-tertiary);
}
.material-basic--tertiary {
	color: var(--md-sys-color-tertiary);
	background-color: var(--md-sys-color-on-tertiary) !important;
}
.material-container--tertiary {
	color: var(--md-sys-color-on-tertiary-container);
	background-color: var(--md-sys-color-tertiary-container);
}
.material-inverted--tertiary {
	color: var(--md-sys-color-tertiary-container);
	background-color: var(--md-sys-color-on-tertiary-container);
}


.material-outline {
	--tw-border-opacity: 1;
	border-color: var(--md-sys-color-outline);
}

.material-text--on-background {
	color: var(--md-sys-color-on-background);
}

.material-focus-outline:focus {
    border: var(--md-sys-color-outline) solid 2px;
}

.material-error {
	color: var(--md-sys-color-on-error);
	background-color: var(--md-sys-color-error) !important;
}

.material-button {
    transition: background .25s ease,color .25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0rem 1.5rem;
    border-radius: 100px;
    text-decoration: none;
    height: 3rem;
    border: transparent solid 2px;
}
.material-button:hover {
    border: var(--md-sys-color-outline) solid 2px;
}
.material-button--filled-primary {
	color: var(--md-sys-color-on-primary);
	background-color: var(--md-sys-color-primary);
}
.material-button--tertiary {
	color: var(--md-sys-color-on-tertiary-container);
    background-color: var(--md-sys-color-tertiary-container);
}

.material-mask--jagged-circle {
	-webkit-mask-image: url(../../svg/m3-jagged-circle.svg);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
    -webkit-mask-position: center;
	mask-image: url(../../svg/m3-jagged-circle.svg);
	mask-repeat: no-repeat;
	mask-size: contain;
    mask-position: center;
}


.hero-banner {
	transition: background .25s ease,color .25s ease;
    color: var(--md-sys-color-on-primary-container);
    background-color: var(--md-sys-color-primary-container);
    display: flex;
    padding: 5rem 2.25rem;
    border-radius: 0rem;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    clip-path: inset(0 round 0rem 0rem 2rem 2rem);
    min-height: 25vh;
	display: flex;
    align-items: stretch;
}

.hero-banner__text-container {
	display: flex;
    flex-direction: column;
}

.hero-banner__header {
    font-weight: 600;
    font-size: 4rem;
    margin: 1rem 0rem 1.5rem;
}

.hero-banner__subheader {
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: auto;
}

.hero-banner__img {
	top: 0%;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-mask: linear-gradient(to right,transparent 45%,#000);
    mask: linear-gradient(to right,transparent 45%,#000);
    transition: opacity .25s ease;
    -webkit-user-select: none;
    user-select: none;
    object-position: top;
    object-fit: cover;
    opacity: 40%;
}
